*{
    margin:0;
    padding:0;
}
table{
    border-collapse:collapse;
}
*{
    box-sizing:border-box;
    
}
.box{
    height:50px;
    width:980px;
    background:#f9f9f9;
    border:1px solid #f1f1f1;
    margin:0 auto;
}
.line{
    color:#6cc3f2;
    margin-top:10px;
    margin-left:15px;
    line-height:50px;
}
.list{
    color:#696969;
}
.rule{
    height:27px;
    width:112px;
    color:#fff;
    background-color:#ff6600;
    float:right;
    border-radius:3px;
    border:none;
    margin-right:18px;
    margin-top:12px;
}
table{
    height:239px;
   width:980px;
   border:1px solid #ddd;
   margin:0 auto;
}
tr th{
    height:55px;
    width:147px;
    color:#333;
    background-color:#efefef;
    border:1px solid  #ddd;
}
tr td{
    border:1px solid #ddd;
    height:38px;
    font-size:12px;
    color:#666;
} 
.line-col{
    color:#ddd;
    padding-left:5px;
    padding-right:5px;
}
.table-a{
    color:#0094ff;
    font-size:12px;
}
.item{
    margin:0 auto;
}