<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
    <script src="./vue.js"></script>
</head>

<body>

    <div class="box">
        <span class="line">|</span>
        <span class="list">数据列表</span>
        <input v-model="activerule" type="submit" class="rule" value="新增活动规则">
    </div>
    <div class="demo">
        <div class="text">
            <div>
                <label>所属平台：</label>
                <input v-model="platfrom">
                <button @click="fSubmit">提交</button>
            </div>
            <div>
                <label>活动类型：</label>
                <input v-model="activityType">
            </div>
            <div>
                <label>活动规则名称：</label>
                <input v-model="rule">
            </div>
            <div>
                <label>状态：</label>
                <input v-model="status">
            </div>
            <div>
                <label>提交时间：</label>
                <input v-model="submissionTime">
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>所属平台</th>
                    <th>活动类型</th>
                    <th>活动规则名称</th>
                    <th>状态</th>
                    <th>提交时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) of list" :key="index">
                    <td>
                        <span v-if="editId != item.id">{{item.platfrom}}</span>
                        <span v-else><input type="text" v-model="item.platfrom"/></span>
                    </td>
                    <td>{{item.activityType}}</td>
                    <td>{{item.rule}}</td>
                    <td>{{item.status}}</td>
                    <td>{{submissionTime}}</td>
                    <td><a class="table-a" @click="handleStatus(item)" href="javascript:;">禁用</a><span class="line-col">|</span>
                        <a class="table-a" v-show="editId==item.id" @click="fSave(item)" href="javascript:;">保存</a>
                        <a class="table-a" v-show="editId!=item.id" @click="fEdit(item)" href="javascript:;">编辑</a><span class="line-col" s>|</span>
                        <a class="table-a" @click="handleDelete" href="javascript:;">删除</a>
                        
                    </td>
                </tr>

            </tbody>
        </table>
    </div>


    <script>

        new Vue({
            el: ".demo",
            data: {
                platfrom: "",
                activityType: "",
                submissionTime: "",
                rule: "",
                status: "",
                list: [],
                editId: ""
            },
            methods: {
                fSubmit: function() {
                    var platfrom = this.platfrom;
                    var activityType = this.activityType;
                    var rule = this.rule;
                    var submissionTime = this.submissionTime;
                    var status = this.status;
                    var operate = this.operate;
                    this.list.push({
                        id: +new Date(),
                         platfrom: platfrom,
                        activityType:activityType,
                        rule:rule,
                        submissionTime:submissionTime,
                        status:status,
                        operate:operate
                    })
                  
                },
                handleDelete:function(index){
                    this.list.splice(index,1);
                },
                handleStatus:function(item){
                   item.status="禁用";
                },
                fEdit:function(item){
                    this.editId = item.id;
                },
                fSave:function(item){
                    this.editId = "";
                }

            }
        })
    </script>
</body>

</html>